# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_QUEUE=user_activity_events

# MySQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=user_activity_db
MYSQL_USER=root
MYSQL_PASSWORD=root_password

# Service ports
PRODUCER_APP_PORT=8000
CONSUMER_APP_PORT=8001
